html
	head
		title= "CloudNotation - Music Notation in the Cloud"
		script(src="jquery-3.1.1.min.js")
		script(src="bootstrap.min.js")
		script(src="script.js")
		link(rel="stylesheet" type="text/css" href="bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="style.css")
	body
		div(id="header")
			div(id="user")
				img(src="/images/general_icons/treble_clef.png" class="header-icon")
				img(src="/images/general_icons/chat_bubble2.png" class="header-icon")
				span Hello, #{firstName} | 
				img(src="/images/general_icons/cog.png" id="settingsIcon" class="header-icon dropdown-icon")
				div(id="settingsDropdown" class="dropdown-settings-content")
					a(id="loadProfile") 
						span(class="dropdown-link") My Profile
					a(href="/logout") 
						span(class="dropdown-link") Logout
		div(id="container")

			//- PROFILE SECTION
			div(id="profile")
				div(id="profilePane" class="profileDiv")
					div(class="profileImgContainer")
						img(src="https://a2-images.myspacecdn.com/images03/33/d678ac7225864ed0a3e3364231c1016e/300x300.jpg" class="profilePictureFull")
					div(id="profileInner" class="profileHolder")
						h1 Profile
						div
							label(class="profile-label") First Name
							span #{firstName}
						div
							label(class="profile-label") Last Name
							span #{lastName}
						div
							label(class="profile-label") Birthday
							span(id="profileAge")
							input(id="profileAgeEdit" class="profile-edit" type="date")
						div
							label(class="profile-label") City
							span(id="profileCity")
							input(id="profileCityEdit" class="profile-edit" type="text")
						div
							label(class="profile-label") State/Province
							span(id="profileState")
							input(id="profileStateEdit" class="profile-edit" type="text")
						div
							label(class="profile-label") Country
							span(id="profileCountry")
							select(id="profileCountryEdit" class="profile-edit")
					div(class="edit-buttons")
						button(id="editProfile" type="button" class="btn btn-default") Edit
						button(id="saveEditProfile" style="display:none;" type="button" class="btn btn-default colorme-orange") Save
					div(id="musicProfile")
						h1 Music
						div
							label(class="profile-label") Instrument
							span(id="profileInstrument")
								img(src="/images/musicons/24/guitar.png")
							select(id="profileInstrumentEdit" class="profile-edit")
						div
							label(class="profile-label") Favorite Genre
							span(id="profileGenre")
							select(id="profileGenreEdit" class="profile-edit")
						div
							label(class="profile-label") Favorite Artist/Composer
							span(id="profileArtist")
							input(id="profileArtistEdit" class="profile-edit" type="text")
			div(id="chat")
			div(id="editor")