html
    head
        script(src="jquery-3.1.1.min.js")
        script(src="bootstrap.min.js")
        script(src="scriptL.js")
        link(rel="stylesheet" type="text/css" href="bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="loginStyle.css")
        title= "CloudNotation - Login"
    body
        div(id="container")
            div(id="header")
                h3 CloudNotation
            -if (message)
                p #{message}
            div(id="login")
                div(class="form-group")
                    form(action="/login" method="post")
                        h1 Login
                        div(class="username")
                            label(for="loginUsername") Username
                            input(id="loginUsername" type="text" name="username")
                        div(class="password")
                            label(for="loginPassword") Password
                            input(id="loginPassword" type="password" name="password")
                        br
                        div
                            input(type="submit" style="float:right;" value="Log in")
            div(id="signup")
                form(action="/login" method="post")
                    h1 Sign Up
                    div
                        label(for="signupUsername") Username
                        input(id="signupUsername" type="text" name="desiredUsername")
                    div
                        label(for="signupPassword") Password
                        input(id="signupPassword" type="password" name="signupPassword")
                    div
                        input(type="submit" value="Sign Up")