html, body {
	height:100%;
	width:100%;
	margin:0px;
}

#container {
	display:inline-block;
	height:100%;
	width:100%;
	margin:auto;
}

#loginContainer {
	display:inline-block;
	width:100%;
	margin:auto;
	padding:10px;
	background-color:#EEE;
	margin-top:30px;
}

#header {
	display:inline-block;
	width:100%;
	height:40px;
	position:absolute;
	background-color:#ef6d00;
	box-shadow: 0px 2px 2px 0px;
	padding-left:5px;
}

#header > h3 {
	color:white;
	margin:0px;
	font-size:35px;
}

#login {
	display:inline-block;
	margin:auto;
	margin-left:10%;
	float:left;
	width:30%;
}
#signup {
	display:inline-block;
	margin:auto;
	margin-right:20%;
	float:right;
	width:40%;
}

.half-width {
	display:inline;
	width:48%;
	max-width:145px;
	margin:auto;
}

.signup-form-input {
	display:block;
	max-width:300px;
	min-width:200px;
}

.colorme-orange {
	color:white;
	background-color:#ef6d00;
}

.colorme-orange:hover {
	color:white;
	background-color:#ca5c00;
}

.colorme-orange:active {
	color:white;
	background-color:#ff8724;
}

.form-control {
	margin:2px;
}

#infoContainer {
	padding: 20px;
}

#signup-error-text, #login-error-text {
	color:red;
}

#signup-success-text {
	color:green;
}